*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
release.keystore

*.log
hs_err_pid*.log
replay_pid*.log
build_log.txt
full_log.txt
.kotlin/errors/

.kotlin/metadata/
